/* Font smoother on OS X */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: 'Noto Sans TC', sans-serif!important;
  color: white;
  font-weight: 200;
}
.sweet-alert {
  color: black;
}
.bg {
  /* Location of the image */
  background-image: url(../img/icon-opa15.png);
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  /* Makes the background image rescale based on its container's size */
  background-size: 70vw;
  /* Background color that will be displayed while the background image is loading */
  background-color: black;
}
.content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 100vh;
  width: 100vw;
}
.welcomeMessage {
  padding-bottom: 10vh!important;
  margin-top: -15vh!important;
}
